.table{
   position: relative;
}
.th{
    background-color: rgb(179, 179, 179);
    width: 60px;
    height:60px ;
}
.td{
    background-color: rgb(179, 179, 179);
    width: 60px;
    height:60px ;
}
.red{
    background-color:rgb(228, 49, 49) ;
    width: 60px;
    height:60px ;
    position:absolute;
    top:195px;
    left: 2px;
    animation:rightRed 1s 1s linear forwards,upRed 1s 2s linear forwards;
}
.blue{
    background-color:rgb(46, 46, 226) ;
    width: 60px;
    height:60px ;
    position:absolute;
    top:195px;
    left:450px;
    animation:leftBlue 1s 1s linear forwards,downBlue 1s 2s linear forwards;
}
@keyframes leftBlue{
    from{left:450px}
    to{left:260px;}
}
@keyframes downBlue{
    from{top:195px;}
    to{top:385px;}
}
@keyframes rightRed{
    from{left: 2px;}
    to{left:193px;}
}
@keyframes upRed {
    from{top:195px;}
    to{top:2px;}
}
